<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="logfileWarn" xsi:type="File" fileName="D://Logs//ComplicatedFile.txt" layout="${uppercase:${level}} | ${logger} | ${message} | ${date:format=dd.\MM.\yyyy}" />
      <target name ="logfileInfo" xsi:type="File" fileName="D://Logs//ComplicatedFile.txt" />
      <target name="logfileError" xsi:type="File" fileName="D://Logs//ComplicatedFile.txt" layout="${uppercase:${level}} | ${logger} | ${message} | ${date:format=dd.\MM.\yyyy}" />
      <target name="gmail" xsi:type = "Mail" html="true" subject="Error Received" body="${message}" layout="${message}"
        to="randomnameforlab@gmail.com"
        from="randomnameforlab@gmail.com"
        enableSsl="true"
        smtpUsername="randomnameforlab@gmail.com"
        smtpPassword="nepassword123"
        smtpAuthentication="Basic"
        smtpServer="smtp.gmail.com"
        deliveryMethod ="Network"
        smtpPort="587"/>
    </targets>
    <rules>
      <logger name="*" level="Info" writeTo="logfileInfo"/>
      <logger name="*" level="Warn" writeTo="logfileWarn"/>
      <logger name="*" level="Error" writeTo="logfileError"/>
      <logger name="*" level="Fatal" writeTo="gmail"/>      
    </rules>
  </nlog>
</configuration>

